*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

:root{
	--primary: hsl(0,0%,0%, 0.65);
	--secondary: hsl(240,29.4%,96.7%, 0.65);
}
body, html{
	font-family: "Bangers Font", Cuprum Font;
}

.navbar{
	background-color:transparent;
	
}

body {
	min-height: 100vh;
	display: grid;
	background: linear-gradient(360deg,var(--primary), var(--secondary)), url("./images/6.jpg") no-repeat fixed center / cover;
	font-family: "Bangers Font", Cuprum Font;

}

#logo{
	font-size:60px;
	border-radius: 3px;
	color: #E6E49F;
	top: 0;
	left: 0;
	margin: 10px;
 	position: fixed;

}
.nav-item:hover{
	background-color: #C6C7C4;
	border-radius: 5px;
}
#simple-nav{
 	justify-content: flex-end;
 	top: 0;
 	right: 0;
 	position: fixed;
 	margin: 50px;
 }

 .navbar-toggler{
 	top: 0;
 	right: 0;
 	position: fixed;
 	margin: 20px;
 }


#home{
	height: 100vh;
}

/*
#homepage{
	font-family: "Italianno", cursive;
	font-size: 5rem;
	color: #25291C;
}*/

#home_name{
	font-family: "Italianno", cursive;
	font-size: 5rem;
	color: #25291C;
	margin-top: 20rem;

	text-shadow:
		0.05em 0 0 rgba(230, 228, 159, 0.75),
		-0.025em -.05em 0 rgba(0, 255, 0, 0.75),
		0.025em 0.05em 0	rgba(0, 0, 255, 0.75);
		animation: glitch 2000ms infinite;

}

@keyframes glitch{
	0%{
		text-shadow:
		0.05em 0 0 rgba(255, 0, 0, 0.75),
		-0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
		-0.025em 0.05em 0	rgba(0, 0, 255, 0.75);
	}	
	15%{
		text-shadow:
		-0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
		0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
		-0.025em -0.05em 0	rgba(0, 0, 255, 0.75);
	}	
	50%{
		text-shadow:
		0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
		0.05em 0 0 rgba(0, 255, 0, 0.75),
		0 -0.05em 0	rgba(0, 0, 255, 0.75);
	}	
	100%{
		text-shadow:
		-0.025em 0 0 rgba(255, 0, 0, 0.75),
		-0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
		-0.025em -0.05em 0	rgba(0, 0, 255, 0.75);
	}
}

#aboutme{
	height: 100vh;
}

#form_group{
	border: 2px	solid #353B3C;
	background: #353B3C;
	border-radius: 10px;
	color: #E3E7D3;
}
#contact{
	color: #E3E7D3;
}
#pre-footer{
	background-color: #002845;
	color: white;
}

#pre-footer div{
	vertical-align: top;
	display: inline-block;
	width: 20%;
	padding: 20px;
}

#pre-footer h3, #pre-footer p{
	margin-bottom: 10px;
}


footer{
	margin-top: 1rem;
	border: 2px;
}

footer span{
	margin-left: 1rem;
}
